body {
    /* Do not repeat the image */
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Verdana";
}

.container {
    margin: 0 auto;
    width: 1060px;
}
.header {
    width: 100%;
    margin: 49px 0 0 0;
}

.logotype {
    height: 57px;
    display: inline-block;

}

.logo {
    display: inline-block;
    width: 50px;
    height: 44px;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}

.logotype:hover .logo {
    background: transparent url('../img/logo2.png') top left no-repeat;
}


.title {
    display: inline-block;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 29px;
}

.logotype:hover .title{
    color: #f26522;

}

.title-small {
    font-size: 17px;
    display: block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.contacts {
    padding: 16px 0 0 0;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: right;
}

.tours {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 44px 0 0 0;
}

.tile {
    width: 307px;
    height: 250px;
    margin-bottom: 55px;
    text-decoration: none;
    cursor: pointer;
}

.tile-body {
    position: relative;
    overflow: hidden;
    height: 200px;

    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
}

.tile .tile-info {
    width: 100%;
    height: 63px;
    position: absolute;
    bottom: -63px;
    transition-duration: 0.6s;
    background-color: #f26522;
    margin-top: -3px;
}

.tile:hover .tile-info {
    bottom: 0;
}

.tile-price {
    width: 50px;
    margin: 15px 20px;
    float: left;
    font-size: 10px;
    color: #ffffff;
}


.tile-price span {
    font-size: 20px;
}

.tile-action {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 32px;
}

.tile-action:after {
    margin: 0 18px;
    content: ">";
}

.tile .tile-name {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    padding: 22px 0 0 0 ;
}

.tile:hover .tile-name {
    color: #f26522;
}

.footer {
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    margin-top: 3px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}