@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf");
}

.container-header {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.parallax1 {
    background: url('../img/section-header.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1012px;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 120px;
}

.logo-type {
    padding-top: 28px;
    float: left;
}

h1{
    position: absolute;
}

.logo-sign {
    position: relative;
    left: 13px;
    top: 0px;
    font-size: 40px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Montserrat" serif;
    font-weight: 700;
}

.logo {
    padding: 530px 0 0 86px;
    color: #fff;
}

.logo-text-left {
    line-height: 68px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    display: block;
    float: right;
    padding-left: 7px;
}

.logo-text-right {
    font-size: 32px;
    line-height: 64px;
    color: #18cfab;;
    font-family: "Montserrat";
    font-weight: 400;
}

.nav-list {
    float: right;
    display: flex;
    justify-content: space-between;
    height: 9px;
    width: 644px;
    font-weight: 700;
}

.nav-text {
    color: #a6a6a6;
    font-size: 13px;
    font-family: "Montserrat";
    text-decoration: none;
    display: block;
    padding: 60px 0px;
}
.nav-text:hover {
    border-bottom: 2px solid #18cfab;
}

.ui-state-active .tabs-element,
a:hover {
    color: #18cfab;
    text-decoration: none;
}

.text {
    width: 763px;
    padding-top: 233px;
    margin: 0 auto;
}

.title {
    font-size: 35px;
    line-height: 10px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    display: block;
    padding-bottom: 33px;
}

.logo-description {
    color: #18cfab;
}

.title-big {
    font-size: 79px;
    line-height: 84px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    padding-bottom: 33px;
}

.title-small {
    font-size: 33px;
    line-height: 84px;
    color: #d4d4d4;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    display: block;
    padding-bottom: 130px;
}

button,
input[type="submit"] {
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    border-top: #ffffff solid 3px;
}

button.button-load,
input[type="submit"].button-load {
    border-top: none;
}

button.button-blue,
input[type="submit"].button-blue {
    background-color: #00cbf6;
}

.button-center {
    margin: 0 auto;
    padding: 76px 0;
    width: fit-content;
}


                          /*sign logo*/
.hexagon {
    width: 58px;
    height: 33px;
    background: #18cfab;
    position: relative;
    top: 18px;
    display: block;
    float: left;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #18cfab;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #18cfab;
}

.section-title {
    text-align: center;
    position: relative;
}

.section-title-text {
    font-size: 36px;
    color: #4e4e4e;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    padding: 82px 0 112px;
}

.section-title-text:before {
    content: '';
    width: 76px;
    border-top: 1px solid #18cfab;
    margin: 5px auto;
    display: block;
    position: absolute;
    left: 0;
    right: 10px;
    bottom: 74px;
}

.section-title-text:after {
    content: '';
    width: 76px;
    border-top: 1px solid #18cfab;
    margin: 5px auto;
    display: block;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 70px;
}

.section-title-line:after {
    content: '';
    width: 160px;
    border-top: 1px solid #18cfab;
    margin: 5px auto;
}

.banner {
    height: 368px;
    background-color: #18cfab;
    display: flex;
}

.section {
    width: 481px;
    border-top: 7px solid #ffffff;
}


.style-icon {
    text-align: center;
    padding-top: 108px;
}

.banner-info.style-icon {
    padding-top: 88px;
}

.text-banner {
    font-size: 20px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 48px;
}

.banner-info.style-icon .text-banner {
    color: #18cfab;
}


.banner div.section:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.services-information {
    padding-top: 25px;
}

.services-information .portfolio-gallery{
    padding-top: 50px;
}

.services {
    height: 540px;
    background-color: #ffffff;
}

.tabs-list {
    display: flex;
    justify-content: center;
}

.tabs-el {
    width: 192px;
    height: 73px;
    flex-direction: row;
    background-color: #f8fcfe;
    text-align: center;
    outline:none;
    border: 1px solid #eee;
    position: relative;
    display: block;
}

.tabs-el:not(:first-child) {
    border-left: none;
}

.tabs-el:hover::after,
.services .ui-state-active .tabs-el:after {
    color: transparent;
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    border-top : 12px solid #18cfab;
    border-left : 12px solid transparent;
    border-right : 12px solid transparent;
    width: 0;
}

.tabs-el:hover,
.services .ui-state-active .tabs-el {
   background-color: #18cfab;
}

a.tabs-el.services-tabs:hover,
.services .ui-state-active .tabs-el {
    /*text-decoration: none;*/
    color: #ffffff;
}


.photo-tab,
.services-tabs {
    text-decoration: none;
    color: #717171;
    font-size: 16px;
    line-height: 65px;
    font-family: "Montserrat";
    font-weight: 400;
    outline: none;
}

.photo {
    width: 194px;
    height: 139px;
    display: block;
    float: left;
}

.photo-web {
    background-image: url('../img/servicesimg/LayerWeb.png');
}

.photo-graphic {
    background-image: url('../img/servicesimg/graphic-design12.jpg');
}

.photo-support {
    background-image: url('../img/servicesimg/graphic-design5.jpg');
}

.photo-app {
    background-image: url('../img/servicesimg/graphic-design1.jpg');
}

.photo-marketing {
    background-image: url('../img/servicesimg/graphic-design9.jpg');
}

.photo-seo {
    background-image: url('../img/servicesimg/graphic-design7.jpg');
}

.services-text {
    width: 927px;
    height: 136px;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-family: "Montserrat";
}

.purchase {
    background: url('../img/section-2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 476px;
    box-shadow: inset 0 0 0 1200px rgba(0,0,0,.8);
}

.purchase-text-big {
    font-size: 40px;
    color: #18cfab;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 128px 0 35px 0;
}

.purchase-text-small {
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    display: block;
}

.portfolio {
    background-color: #f8fcfe;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
}

.tabs-element {
    padding: 0 29px;
    height: 73px;
    flex-direction: row;
    background-color: #f8fcfe;
    text-align: center;
    outline: none;
    border: 1px solid #eee;
    display: block;
}

.ui-state-active .tabs-element,
.tabs-element:hover {
    border-top: 2px solid #08cfab;
}

.photos,
.photos img {
    height: 206px;
    width: 284px;
}



.photos img:hover {
    background-color: #ffffff;
    border-top: 2px solid #18cfab;
}



.news {
    height: 940px;
    background-color: #ffffff;
}

.news-photo {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 1130px;
    margin: 0 auto;
}

.photo-new {
    width: 263px;
    height: 280px;
    display: block;
    position: relative;
    margin-bottom: 45px;
    background-color: #f8fcfe;
}

.photo-img {
    height: 208px;
}

.photo-date {
    width: 50px;
    height: 50px;
    background-color: #203e38;
    position: absolute;
    right: 0;
    top: 0;
}

.photo-new:hover .photo-date {
    background-color: #18cfab;
}

.tile-info {
    height: 72px;
    position: absolute;
    bottom: 0;
    display: block;
}

.date {
    line-height: 25px;
    color: #ffffff;
    font-family: "Montserrat";
    display: block;
    text-align: center;
}

.month {
    line-height: 25px;
    color: #ffffff;
    font-family: "Montserrat";
    display: block;
    text-align: center;
}

.tile-body {
    width: 263px;
    height: 72px;
    display: block;
    position: absolute;
    bottom: 0;
}

.tile-image {
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    font-family: "Montserrat";
    font-weight: 700;
    display: block;
    padding-left: 10px;
    text-decoration: none;
}

.photo-new:hover .tile-image {
    color: #18cfab;
}

.tile-comment {
    color: #777777;
    font-family: "Montserrat";
    padding-left: 10px;
    padding-top: 14px;
}

a.tile:hover {
    background-color: #18cfab;
}

.team {
    background: url('../img/section-3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1200px rgba(0,0,0,.5);
}

.sign {
    width: 44px;
    height: 30px;
    background-image: url("../img/teamPhoto/sign.png");
    margin: 0 auto;
    margin-bottom: 43px;
}

.team h3.section-title-text {
    color: #ffffff;
}

.team-member {
    margin: 30px auto 0 auto;
    text-align: center;
    font-family: "Montserrat";
}

.team-member-name {
    font-size: 16pt;
    color: rgba(24, 207, 171, 255);
}

.team-member-position {
    font-size: 14px;
    color: #bebebe;
    margin: 20px 0 40px 0;
}

.team-info {
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;

}

.team-infor {
    display: block;
    text-align: center;
}

.photo-tabs {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 100px;
    margin: 30px auto;
}

.photo-team {
}

.photo-team img {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    box-shadow: 0 0 0px 4px rgba(22,74,74, 0.7);
}

.tabs-photo {
    width: 50px;
    height: 50px;
    flex-direction: row;
    text-align: center;
    outline: none;
    position: relative;
}

.tabs-photo.ui-state-active {
    top: -10px
}

.tabs-photo.ui-state-active img {
    border: 1px solid #18cfab;
}

.tabs-photo img {
    border-radius: 50px;
    box-shadow: 0 0 0px 4px rgba(22,74,74, 0.7);
    height: 62px;
    width: 62px;
}

.tabs-control {
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    width: 31px;
    height: 31px;
    position: relative;
    margin-top: 15px;
}

.tabs-control:hover {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #ffffff;
    cursor: pointer;
}

.tabs-control .fas {
    position: absolute;
    top: 8px;
    left: 11px;
}



.gallery {
    height: 1366px;
    background-color: #f8fcfe;
}

.footer {
    height: 108px;
    background-color: #22353f;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    font-family: "Montserrat";
    font-weight: 300;
}




























