@font-face {
    font-family: "Arimo";
    src: url("../font/Arimo-Regular.ttf");
}

body {
    background-color: #3a4965;
    font-family: Arimo;
    /*font-family: FontAwesome;*/
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1140px;
    height: 681px;
}

table {
    text-align: center;
    color:  #484848;
    font-size: 16px;
}



th, td {
    width: 277px;
    height: 69px;
    vertical-align: middle;
}

tr:first-child th:first-child,
tr td:first-child {
    box-shadow: -6px 0 8px -8px black inset;

}

tr th:nth-child(2),
tr th:nth-child(3),
tr td:nth-child(3),
tr td:nth-child(4) {
    box-shadow: 6px 0px 8px -8px black inset;

}

th:first-child {
    width: 310px;
}


thead tr:first-child {
    height: 70px;
}

thead tr:nth-child(2) {
    height: 86px;
}




thead tr  {
    background-color: #fafafa;
}

th.standard {
    background-color: #89c331;
    font-size: 24px;
    color: #ffffff;
}

th.ultimate {
    background-color: #f04a56;
    font-size: 30px;
    color: #ffffff;
}

th.premium {
    background-color: #20807c;
    font-size: 24px;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tfoot td:nth-child(1) {
    background-color: #dddddd;
}

tfoot td:nth-child(even) {
    background-color: #eeeeee;
}

tfoot td:nth-child(3n) {
    background-color: #f4f4f4;
}

.choose {
    color:  #484848;
    font-size: 18px;
}

.plan {
    font-size: 30px;
    display: block;
}

.half {
    display: inline-block;
    width: 49%;
}

.text-right {
    font-size: 60px;
    text-align: right;
}

.text-left {
    text-align: left;
    position: relative;
}

.price-wrapper {
    top: -5px;
    position: relative;
}

.coin {
    font-size: 24px;
    display: block;
    width: 137px;
    margin-left: -5px;
}

.per {
    font-size: 18px;
}

.fa-archive:before,
.fa-cloud-upload-alt:before,
.fa-envelope:before,
.fa-life-ring:before,
.fa-cube:before,
.fa-users:before {
    content: "";
    font-weight: 900;
    font-size: 24px;
    margin: 0 12px;
    line-height: 25px;
    vertical-align: middle;
    color: #848484;
}

tfoot tr {
    height: 110px;
}

button {
    font-size: 16px;
    width: 192px;
    padding: 15px 0 8px 0;
    color: #fff;
    border-radius: 6px;
}

.menu button {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}

.standard-buy button {
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
}

.ultimate-buy button {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.premium-buy button {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}




















