.first-header {
    font-size: 24px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
}

.first-header:after {
    content: "";
    display: block;
    width: 50px;
    border: 3px solid green;
    margin: 0 auto;
}

.container {
    text-align: center;
}

.price {
    font-size: 24px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.price:before {
    content: "$";
    color: green;
}

.price:after {
    content: "from";
    font-size: 14px;
    position: absolute;
    top: -20px;
    left: 20px;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.content-item {
    float: left;
    width: 300px;
    background-color: gray;
    margin-right: 190px;
    margin-bottom: 25px;
    text-align: center;
}

.content-item:nth-of-type(3n) {
    margin-right: 0;
}

.content-btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: green;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    margin: 0 22%;
}

.content-text {

}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}