.container {
    width: 1280px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.grid-item {
    /*width: 300px;*/
    height: 150px;
    font-size: 24px;
    color: white;
    background-color: #06d;
}

.grid-item:nth-child(odd) {
    background-color: #60d;
}

/*.grid-item:nth-child(1){*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/
/*}*/

/*.grid-item:nth-child(1) {*/
    /*!*сначала 1 до *!*/
    /*grid-column: 1/3;*/
/*}*/

.grid-item:nth-child(9) {
    grid-row: 2;
}




.grid-container-2 {
    display: grid;

    grid-template-areas:
            'header header header'
            'content content sidebar';
            'content content sidebar';
            'content content sidebar';
            'section section sidebar';
            'section section sidebar';
            'sctn-1 sctn-1 sctn-1';
    grid-auto-flow: row;
    grid-gap: 20px 50px;

    /*justify-items: center;*/
    /*justify-content: end;*/


    font-size: 32px;
    height: 700px;
    color: #fff;
    margin-top: 150px;
}

.grid-child {
    background-color: #07e;
}

.grid-child:nth-child(even) {
    background-color: #70e;
}

.grid-child:nth-child(even) {
    background-color: #70e;
}

.header-child {
    grid-area: header;
}

.sidebar-child {
    grid-area: sidebar;
}

.content-child {
    grid-area: content;
}

.section-child {
    grid-area: section;
}

.section-child-next {
    grid-area: sctn-1;
}

.content-self {
    display: inline-block;
    width: 350px;
    height: 150px;
    background-color: #eee;
}








