body {
    margin: 0;
    font-family: 'Myriad Pro', 'Roboto', sans-serif;
    font-weight: 100;
}

.container {
    background-color: #ffffff;
    width: 1280px;
    margin: 0 auto;
}

/* Top */

.title {
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.title span {
    color: #4bcaff;
    font-size: 50px;
}

.block1 {
    background-color: #35444f;
    width: 100%;
}

.menu {
    margin: auto;
    width: fit-content;
}

.menu a:hover {
    background-color: #222f3a;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.page {
    width: 100%;
}

.left-navigation {
    width: 345px;
    margin: 50px 50px 0 0;
    display: inline-block;
    float: left;
    border:1px solid #35444f;
}

.left-menu-item {
    color: #616e78;
    text-decoration: none;
    padding: 25px;
    display: block;
}

.left-navigation a:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 50px;
}

.right-window {
    margin: 50px 0 0 0;
    display: inline-block;
    width: 883px;
    padding-bottom: 50px;
}

.picture {
    border: 1px solid #35444f;
    text-align: center;
    padding: 75px 0;
    margin-bottom: 20px;
}

.right-window p {
    margin: 30px 35px 0 30px;
}

.footer {
    background-color: #b4b7ba;
    width: 100%;
}

.footer-item {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.footer a:hover {
    color: #4288a9;
    text-decoration: underline;
}

.footer-item.right {
    float: right;
}



.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image img:hover {
    border-radius: 6px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


