@font-face {
    font-family: "Verdana";
    src: url("../font/Verdana.ttf");
}

body {
    background: url('../img/backround.png') no-repeat center fixed;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
}

header {
    height: 54px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    display: inline-block;
    padding: 18px 0;
    margin-left: 75px;
}

.logo a {
    text-decoration: none;
}

.logo-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
}

.logo-text:hover {
    color: #3cb878;
}

.title-nav {
    float: right;
    margin-right: 75px;
    padding: 18px 0;
    display: inline-block;
}

.nav-list {
    float: left;
}

.nav-item {
    height: 20px;
    display: inline-block;
    margin-right: 26px;
}

.icon {
    background: transparent url("../img/css_sprites.png") no-repeat;
}

.icon.nav-calendar {
    background-position: -50px -86px;
    width: 19px;
}

.icon.nav-calendar:hover {
    background-position: -89px -86px;
}

.icon.nav-forum {
    background-position: -10px -10px;
    width: 28px;
}

.icon.nav-forum:hover {
    background-position: -58px -10px;
}

.icon.nav-journey {
    background-position: -106px -10px;
    width: 20px;
}

.icon.nav-journey:hover {
    background-position: -10px -86px;
}

.nav-sign {
    float: right;
}

.nav-sign:before {
    content: "";
    border-left: 1px solid #33302e;
    height: 21px;
    float: left;
    padding-left: 24px;
}

.window-title {
    color: #434343;
    font-size: 20px;
}

.nav-sign span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.nav-sign a {
    color: #3cb878;
    text-decoration: none;
    padding: 0 3px;
}

.nav-sign a:hover {
    text-decoration: underline;
}

.main-form {
    width: 444px;
    height: 584px;
    border-radius: 15px;
    background-color: #ffffff;
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.main-form .shape {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 29px;
    left: 0;
}

.main-form .wrapper {
    margin: 29px 60px;
    height: 526px;
}

.row {
    background-color: #ffffff;
    margin: 10px 0 20px;
}

.row .or-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1px;
    margin: 10px 0 20px
}

.log {
    color:  #3cb878;
    font-size: 14px;
    line-height: 21px;
    float: right;
    text-decoration: none;
}

.row a:hover {
    text-decoration: underline;
}

a.facebook {
    text-decoration: none;
}

a.facebook:hover {
    text-decoration: none;
}

.facebook {
    width: 157px;
    height: 46px;
    background-color: #305db8;
    float: left;
    border-radius: 3px;
    position: relative;
}

.line {
    width: 1px;
    height: 28px;
    background-color: black;
    position: absolute;
    top: 9px;
    left: 47px;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon.sign-fb {
    background-position: -146px -10px;
    width: 10px;
    height: 21px;
    margin: 13px 20px;
    float: left;
}

.facebook .btn-name {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    top: 15px;
    left: 18px;
}

a.google {
    text-decoration: none;
}

a.google:hover {
    text-decoration: none;
}

.google {
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    float: right;
    border-radius: 3px;
    position: relative;
}

.icon.sign-gg {
    background-position: -10px -50px;
    width: 25px;
    height: 16px;
    margin: 13px 15px;
    float: left;
}

.google .btn-name {
    color: #ffffff;
    font-size: 16px;
    top: 15px;
    position: relative;
    left: 20px;
}

.text-inline {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    line-height: 0.1em;
    padding: 10px 0 0 0;
}

.text-inline span {
    background-color: #ffffff;
    padding:0 10px;
    color:  #848484;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 305px;
    height: 43px;
    padding-left: 17px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    outline: none;
}


input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #bebebe;
}

.row-agree {
    margin: 10px 0 25px 0;
}

.agree {
    color: #434343;
    font-size: 14px;
    line-height: 21px;
}

.agree a {
    color: #3cb878;
    text-decoration: none;
}

input[type="submit"] {
    background-color: #3cb878;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}



/* Checkbox custom style*/
.cb-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cb-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create firstNumber custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-wrapper input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb-wrapper .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* end custom checkbox*/


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}