body {
    width: 320px;
}



.sqrt {
    max-width: 1200px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

header {
    max-width: 1200px;
    width: 100%;
    height: 36px;
    background-color: #4d4943;
}

.banner {
    max-width: 1200px;
    width:100%;
    height: 173px;
    background: url("../img/320/header-fon.png") no-repeat center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    margin: 0 auto 2px;
}

.banner-text {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    display: inline-block;
    width: 196px;
    margin-left: 22px;
    margin-top: 15px;
}

.banner-text span {
    display: inline-block;
    margin-top: 3px;
    margin-left: -1px;
}

.banner-text a {
    font-size: 14px;
    line-height: 29px;
    color: #a6d6e0;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
}

.content {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.content .section {
    /*flex: 1 1 30%;*/
}

.section {
    max-width: 1200px;
    width: 100%;
    height: 75px;
    margin-top: 2px;
    display: inline-flex;
}

.section-arrow {
    position: relative;
    width: 91px;
    height: 75px;
    background-color: #ACD8AD;
}

.section-arrow::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    top: 31px;
    left: 28px;
}

.section-name {
    font-size: 20px;
    line-height: 44px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    margin: 0px;
    position: absolute;
}


.section-delivery {
    width: 100%;
    background: url("../img/320/pizza-delivery-fon.png") no-repeat 85% 95%;
    background-size: 110%;
    position: relative;
}

.section-delivery .section-name {
    top: 15px;
    left: 64px;
}


.section-salad {
    width: 100%;
    background: url("../img/320/salads-fon.png") no-repeat 13% 93%;
    background-size: 100%;
    position: relative;
}

.section-salad .section-name {
    top: 16px;
    left: 76px;
}

.section-desserts {
    width: 100%;
    background: url("../img/320/dsserts-fon.png") no-repeat 50% 15%;
    background-size: 100% ;
    position: relative;
}

.section-desserts .section-name {
    top: 14px;
    left: 83px;
}

/*.menu {*/
/*    flex-direction: column;
/*    max-width: 1200px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*}*/

.menu div {
    flex: 1 1 30%;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
   /* display: flex;*/
}

.menu-page-one {
   /* height: 100%;*/
    background-color: #FFFFFF;
    /*display: inline-flex;*/
}

.menu-page-two {
    height: 100%;
    background-color: greenyellow;
    /*display: inline-flex;*/
}

.title-description {
    padding: 20px 0px 15px 8px;
}
.title {
    font-size: 20px;
    color: #3f4043;
    font-family: "Lato";
    font-weight: 400;
}

.subtitle {
    padding-top: 3px;
    font-size: 10px;
    color: #cbccce;
    font-family: "Lato";
    font-weight: 400;
}

.title-item {
    font-size: 20px;
    color: #acd8ad;
    font-family: "Lato";
    font-weight: 400;
    padding: 19px 0 0 12px;
}


.item {
    font-size: 15px;
    color: #3f4043;
    font-family: "Lato";
    font-weight: 400;
    padding: 26px 0 0 9px
}

ol {
    list-style-type: disc;
}

ol, ul {
    list-style: none;
}

.item-name {
    font-size: 9px;
    color: #3f4043;
    font-family: "Lato";
    font-weight: 400;
    margin: 20px 0 0 17px;
    list-style: initial;
    width: 87%;
}

.item-price {
    font-size: 14px;
    color: #3f4043;
    font-family: "Lato";
    font-weight: 700;
    text-align: right;
}

.item-description {
    height: 54px;
    font-size: 9px;
    color: #3f4043;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 8px 0px 0 -8px;
    display: inline-block;
    /* width: 93%; */
}


@media screen and (min-width: 640px) {
    .content {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 640px) {
    .menu {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .sqrt {

    }
}

@media screen and (max-width: 320px) {
    .sqrt {
        display: none;
    }
}