body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/************* T A B L E S ****************/

table {
    border-collapse: collapse; /*это уже прописано в reset.css дублирую для наглядности*/
}

td,th {
    text-align: center;
    border: 1px solid green;
    box-sizing: border-box;
    padding: 20px 40px;
}

.table-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: green;
    color: #fff;
    border-radius: 3px;
}


/************* G R A D I E N T S ****************/

.div-250x80 {
    width: 250px;
    height: 80px;
}

.linear-gradient-bg {
    /*background: linear-gradient();*/
}

.radial-gradient-bg {
    /*background: radial-gradient();*/
}

.linear-gradient-lr-borders {
    border-left: 10px solid;
    border-right: 10px solid;
    border-image: linear-gradient(to bottom, transparent, blue) 1 repeat;
}

/************* S H A D O W S **************/


.purple-bg-with-shadow {
    background-color: purple;
    box-shadow: 0 0 10px rgba(0 0 0 0.5);
}

.text-with-shadow {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 0 0 0;
}
