body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.menu {
    padding: 20px 0;
    margin: auto;
    width: fit-content;
}

.menu-item {
    margin: 20px;
    color: #26a68d;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 800;
}

.text {
    margin-top: 20px;
}

.block1 {
    background-color: white;
    width: 100%;
}

.block2 {
    background-color: blue;
    width: 100%;
    height: 400px;
}

.block3 {
    width: 100%;
    background-color: #f5f6f7;
}

.block4 {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
}

.banner {
    width: 100%;
    height: 400px;
}

.text-title {
    padding-top: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
    letter-spacing: 2px;
}

p {
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
}

.footer {
    margin-left: auto;
    margin-right: 25px;
    padding-top: 30px;
    width: 320px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

.container {
    background-color: #ffffff;
    margin: 0 80px;
}

.menu button {
    background-color: #16a085;
    width: 120px;
    height: 35px;
    color: #fff;
}

