.container {
    max-height: 3854px;
    margin: 0 auto;
    padding: 0;
}

.parallax1 {
    background: url('../img/bg1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}

.logo {
    padding: 530px 0 0 86px;
    color: #fff;
}

.logo h1.title {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.logo h4.logo-description {
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}


.logo-panel {
    background-color:  rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    width: fit-content;
    margin-top: 28px;
}

.logo-panel h2 {
    display: inline-block;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
}

.logo-panel h2.logo-panel-left {
    background-color: #fff;
    padding: 49px 34px 42px 29px;
    color:  #f1ad1d;
}
.logo-panel h2.logo-panel-right {
    padding: 48px 56px 41px 26px;
}


h2.finish-bord  {
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;

    width: 831px;
    height: 129px;
}

.text {
    height: 372px;
    background-color: white;
    text-align: center;
}

.text-big {
    font-family: Montserrat;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    padding: 112px 0 35px;
}

.text-small {
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

.line {
    width: 60px;
    border-top: 3px solid #f1ad1d;
    margin: 52px auto;
}

.parallax2 {
    background: url('../img/bg2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 380px;
}

.parallax2 .text-big {
    text-align: center;
    color: #ffffff;
}

.line-parallax {
    width: 60px;
    border-top: 3px solid #f1ad1d;
    margin: 60px auto;
}

.color {
    color: #f1ad1d;;
}

.parallax3 {
    background: url('../img/bg3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 475px;
}

.parallax3 .text-big {
    text-align: center;
    color: #ffffff;
    padding: 124px 0 0 0;
}

.brand-list {
    margin: 0 auto;
    width: 903px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.brand1 {
    width: 207px;
    height: 28px;
    background-image: url("../img/Layer 18@1X.png");
    background-repeat: no-repeat;
}

.brand2 {
    width: 135px;
    height: 49px;
    background-image: url("../img/logo-8@1X.png");
    background-repeat: no-repeat;
}

.brand3 {
    width: 172px;
    height: 42px;
    background-image: url("../img/Layer 17@1X.png");
    background-repeat: no-repeat;
}

.brand4 {
    width: 141px;
    height: 52px;
    background-image: url("../img/logo-3@1X.png");
    background-repeat: no-repeat;
}


.parallax4 {
    background: url('../img/bg4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 485px;
}

.parallax4 .text-big {
    text-align: center;
    color: #ffffff;
    padding: 130px 0 0 0;
}

.parallax4 .text-small {
    display: block;
    text-align: center;
    color: #ffffff;
}

.line-parallax4 {
    width: 281px;
    border-top: 3px solid #ffffff;
    margin: 44px auto;
}

.block {
    display: block;
    text-align: center;
}