body {
    font-family: sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 350px;
}

/*.flex-child {*/
    /*flex-basis: 30%;*/
    /*align-self: stretch;*/
    /*background-color: silver;*/
    /*margin-bottom: 10px;*/
/*}*/

.sidebar-wraper {
    background-color: rebeccapurple;
    width: 250px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu-link {
    color: #ffffff;
    font-size: 24px;
}

.graphic-container {
    margin-left: 250px;
    padding: 0 40px;
}

.img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-child {
    /*flex-basis: 30%;*/
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
}

.gallery-btn-back {
    font-size: 28px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery-btn-back::before {
    content: '<';
    font-weight: 900;
    text-shadow: -15px 0 0 black;
}







